.cell{
    width: 70px;
    height: 70px;
    padding: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    .jeton{
        width: 100%;
        border-radius: 50%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }
}